.sidebar-full-screen, .sidebar-small-screen {
    background: url('../../../assets/images/nav_nachos@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--primary-color);
    /* background-color: rgba(0, 0, 0, 0.925); */
}

.inner-container {
    color: white;
    width: 100%;
    margin:  5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    transition: all .2s ease-in-out;
}
.inner-container:hover {
    background-color: rgba(255, 255, 255, 0.116);
}
.inner-container .icon, .button {
    font-size: 1rem;
}

.inner-container .icon {
    flex-basis: 20%;
    display: flex;
   font-size: 1rem;
   justify-content: center;
}
.inner-container .button {
    flex-basis: 60%;
    text-align: start;
}
.home-button {
    background-color: rgba(255, 255, 255, 0.116);
    color: white !important;
}
.active-link {
    color: var(--active-link-color);
    transition: all .2s ease-in-out;
}

@media only screen and (max-width: 576px) {
    .sidebar-full-screen {
        display: none !important;
    }
}