.upper-part {
    position: relative;
    cursor: pointer;
}

.upper-part:hover .bottom-part {
    transform: translateY(0);
    transition: all .9s;
}
.upper-part:hover{
    transform: scale(1.2);
    transition: all .9s;
}

.upper-part .bottom-part {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    transform: translateY(200px);
}

.img-tag {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

@media only screen and (max-width: 1080px) {
    .upper-part .bottom-part {
        height: 70%;
    }
}