.active {
    opacity: 1;
    transition-duration: 1s ease-in;
    animation-name: design;
    animation-duration: 2s;
}

/* @media only screen and (max-width: ) {
    
} */

@keyframes design {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}