.review-content-wrapper .slider-wrapper .slide.active {
    opacity: 1;
    transition-duration: 1s ease;
}

.review-content-wrapper .slider-wrapper .slide{
    opacity: 0;
    transition-duration: 1s;
    transform: scale(1.08);
}