.active {
    opacity: 1;
    transition-duration: 1s ease-in;
    animation-name: design;
    animation-duration: 2s;
}

.topper {
    border: black 1px solid;
    height: 100%;
    margin-top: 800px;
}

@keyframes design {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}