*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #00254B;
}

.primary-color{
    color: var(--primary-color);
}

.background-color {
    background: var(--primary-color);
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-wrap {
    flex: 1;
}
